datasets>=2.18.0
sentence-transformers>=2.5.1
faiss-cpu>=1.14.3
langchain-text-splitters>=0.0.1
pymupdf>=1.23.22
fastapi>=0.109.2
uvicorn[standard]>=0.27.1
pydantic>=2.6.1
openai>=1.12.0
python-dotenv>=1.0.1
